@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        /* @apply bg-yellow-300 font-bold text-lg */
        @apply bg-amber-100
    }
}

.shadow-custom:hover{
    transform: translate(-4px , -4px);
    box-shadow: 5px 5px 0 black;
}

.font-fantasy{
    font-family: fantasy;
    font-weight: 900;
    line-height: 3rem;
}